# Output files
*.csv
*.dat
*.txt
data/

# Build files
*.egg-info/
*build/
.eggs/
.fuse_*
dist/
node_modules/
version.py

# Temporary files
*.pyc
.coverage
.coverage.*
.ipynb_checkpoints/
.mypy*/
.pytest_cache/
.virtual_documents/
__pycache__/
_build/
htmlcov/
jupyter_execute/
node_modules/
prof/

# Virtual environments
*venv/
.tox/
pyvenv*/

# Settings
.idea/
**.code-workspace

# Exceptions
!.binder/runtime.txt
!.github/*.yml
!.github/*/*.yml
!.pre-commit-config.yaml
!.vscode/*.json
